* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.time {
    width: 500px;
    height: 150px;
    border: 20px solid rgba(163, 214, 12, 0.883);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    /* margin-top: -100px; */
scale: 1.3;
}

.start {
    background-color: rgb(34, 34, 164);
    margin-left: 650px;
    color: white;
}

.stop {
    background-color: red;
    margin-left: 30px;
    color: white;
}

.start:hover{
    transition: all 1s;
scale: 0.98888;
}


.stop:hover{
    transition: all 1s;
scale: 0.98888;
}

h1 {
    font-size: 80px;
    margin-left: 30px;
}